In [2]:
import pickle
import numpy as np
import pandas as pd
from pysparnn.cluster_index import ClusterIndex

In [2]:
vectors = pickle.load(open('vectors.pkl','rb'))

In [3]:
data = pd.read_csv('data.csv')

In [3]:
with open('nn_index.pkl', 'rb') as f:
    index = pickle.load(f)
type(index)

pysparnn.cluster_index.ClusterIndex

In [10]:
%%timeit 
index.search(vectors[0], k=2, return_distance=False)

37.1 ms ± 807 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
vectors.shape

(1216967, 6047551)

In [29]:
data['related_to'] = 0
data

,text,industry,related_to
0,benefits board benefits board homejoin plannin...,marketing and advertising,0
1,home columbia landcare environmental stewardsh...,environmental services,0
2,region inc worldwide revenue accelerating worl...,management consulting,0
3,home team careers services civil design case s...,civil engineering,0
4,home friedman associates friedman associates c...,accounting,0
...,...,...,...
1216962,home plattsburgh health group skip content mil...,hospital & health care,0
1216963,home byron bethany irrigation district menu ho...,government administration,0
1216964,official online store ewing athletics ewing at...,apparel & fashion,0
1216965,staffing undercover productions las vegas unde...,entertainment,0
1216966,optometric billing solutions turning problems ...,hospital & health care,0

In [18]:
# assign to each company the nearest neighbor using the index to 'related_to'
# each company is also considered as neighbor for itself,
# therefore, consider only the second neighbor

for i in range(data.shape[0]):
    print(i, end='\r')
    data.at[i, 'related_to'] = index.search(vectors[i], k=2, return_distance=False)[0][1]

639926

In [5]:
data['related_industry'] = data.related_to.apply(lambda i: data.iloc[i].industry)

In [13]:
data.head(5)

,text,industry,related_to,related_industry
0,benefits board benefits board homejoin plannin...,marketing and advertising,419576,investment management
1,home columbia landcare environmental stewardsh...,environmental services,1161311,facilities services
2,region inc worldwide revenue accelerating worl...,management consulting,784108,hospital & health care
3,home team careers services civil design case s...,civil engineering,969156,marketing and advertising
4,home friedman associates friedman associates c...,accounting,509477,accounting

In [12]:
data.to_csv('data.csv', index=False)